<configuration>
 
  <appSettings>
    <add key="ApplicationID" value="1" />
    <add key="AutoStart" value="true" />
    <add key="AutoConnect" value="true" />
	<add key="ConnectOnce" value="false" />
	<add key="DisconnectAfterData" value="true" />
    <add key="MinBatLevel" value="10" />
    <add key="DumpTranslationSize" value="100" />
    <add key="DumpTranslationQueueInterval" value="0" />
    <add key="Port" value="48889" />
    <add key="TranslationServer" value="http://ajax.googleapis.com/ajax/services/language/translate" />
    <add key="SettingsVisible" value="true" />
    <add key="SettingsPassword" value="novo" />
    <add key="WizardVisible" value="false" />
    <add key="NotMovingDelay" value="0" />
    <add key="Version" value ="1.8.0"/>
	<!--<add key ="Translation" value="?v=1.0&q=#inputText&langpair=#sourceLanguage%7C#targetLanguage"/>-->
  </appSettings>

</configuration>